a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: #25282c;
  text-decoration: none;
  background: #25282c;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

